.sidebar{
  width: 100%;
  height: 500px;
  background-color: #000080;
  border: 4px solid #000;
  margin-right: 10%;
  margin-left: 10px;
  color: white;
}

.box-row{
  flex-wrap: wrap;
  justify-content: space-between;
}

.card{
  width: 220px;

}

.box-row col{
  width: 400px;
  margin: 10px;
}
.card-img-top{
  height: 200px;
  width: 218px;
}